# Aggregate Functions

## Aggregate functions

In [0]:
SELECT SUM(duration)
FROM films;

In [0]:
SELECT AVG(duration)
FROM films;

In [0]:
SELECT MIN(duration)
FROM films;

In [0]:
SELECT MAX(duration)
FROM films;

## Aggregate functions practice

In [0]:
SELECT SUM(gross)
FROM films;

In [0]:
SELECT AVG(gross)
FROM films;

In [0]:
SELECT MIN(gross)
FROM films;

In [0]:
SELECT MAX(gross)
FROM films;

## Combining aggregate functions with WHERE

In [0]:
SELECT SUM(gross)
FROM films
WHERE release_year >= 2000;

In [0]:
SELECT AVG(gross)
FROM films
WHERE title LIKE 'A%';

In [0]:
SELECT MIN(gross)
FROM films
WHERE release_year = 1994;

In [0]:
SELECT MAX(gross)
FROM films
WHERE release_year
BETWEEN 2000 AND 2012;

## A note on arithmetic

c. 3

## It's AS simple AS aliasing

In [0]:
SELECT title, gross - budget AS net_profit
FROM films;

In [0]:
SELECT title, (duration / 60.0) AS duration_hours
FROM films;

In [0]:
SELECT AVG(duration) / 60.0 AS avg_duration_hours
FROM films;

## Even more aliasing

In [0]:
-- get the count(deathdate) and multiply by 100.0
-- then divide by count(*) 
SELECT COUNT(deathdate) * 100.0 / COUNT(*) AS percentage_dead
FROM people;

In [0]:
SELECT MAX(release_year) - MIN(release_year) AS difference
FROM films;

In [0]:
SELECT (MAX(release_year) - MIN(release_year)) / 10.0
AS number_of_decades
FROM films;