# Filtering rows

## Filtering results

B. Films released after the year 2000

## Simple filtering of numeric values

In [0]:
SELECT *
FROM films
WHERE release_year = 2016;

In [0]:
SELECT COUNT(*)
FROM films
WHERE release_year < 2000;

In [0]:
SELECT title, release_year
FROM films
WHERE release_year > 2000;

## Simple filtering of text

In [0]:
SELECT *
FROM films
WHERE language = 'French';

In [0]:
SELECT name, birthdate
FROM people
WHERE birthdate = '1974-11-11';

In [0]:
SELECT COUNT(*)
FROM films
WHERE language = 'Hindi';

In [0]:
SELECT *
FROM films
WHERE certification = 'R';

## WHERE AND

In [0]:
SELECT title, release_year
FROM films 
WHERE language = 'Spanish' AND release_year < 2000;

In [0]:
SELECT *
FROM films 
WHERE language = 'Spanish' AND release_year > 2000;

In [0]:
SELECT *
FROM films
WHERE language = 'Spanish' AND release_year > 2000 AND release_year < 2010;

## WHERE AND OR

A. Display only rows that meet at least one of the specified conditions

## WHERE AND OR (2)

In [0]:
SELECT title, release_year
FROM films
WHERE release_year >= 1990 AND release_year < 2000;

In [0]:
SELECT title, release_year
FROM films
WHERE (release_year >= 1990 AND release_year < 2000)
AND (language = 'French' OR language = 'Spanish');

In [0]:
SELECT title, release_year
FROM films
WHERE (release_year >= 1990 AND release_year < 2000)
AND (language = 'French' OR language = 'Spanish')
AND (gross > 2000000);

## BETWEEN

D. Filter values in a specified range

## BETWEEN (2)

In [0]:
SELECT title, release_year
FROM films
WHERE release_year
BETWEEN 1990 AND 2000;

In [0]:
SELECT title, release_year
FROM films
WHERE release_year
BETWEEN 1990 AND 2000
AND budget > 100000000;

In [0]:
SELECT title, release_year
FROM films
WHERE release_year
BETWEEN 1990 AND 2000
AND budget > 100000000
AND language = 'Spanish';

In [0]:
SELECT title, release_year
FROM films
WHERE release_year
BETWEEN 1990 AND 2000
AND budget > 100000000
AND (language = 'Spanish' OR language = 'French');

## WHERE IN

In [0]:
SELECT title, release_year
FROM films
WHERE release_year IN (1990, 2000)
AND duration > 120;

In [0]:
SELECT title, language
FROM films
WHERE language IN ('English', 'Spanish', 'French');

In [0]:
SELECT title, certification
FROM films
WHERE certification IN ('NC-17', 'R');

## Introduction to NULL and IS NULL

B. A missing value

## NULL and IS NULL

In [0]:
SELECT name
FROM people
WHERE deathdate IS NULL;

In [0]:
SELECT title
FROM films
WHERE budget IS NULL;

In [0]:
SELECT COUNT(*)
FROM films
WHERE language IS NULL;

## LIKE and NOT LIKE

In [0]:
SELECT name
FROM people
WHERE name LIKE 'B%';

In [0]:
SELECT name
FROM people
WHERE name LIKE '_r%';

In [0]:
SELECT name
FROM people
WHERE name NOT LIKE 'A%';