# Selecting columns

## Onboarding | Tables

c. 50 Cent

## Onboarding | Query Result

B. A. Michael Baldwin

## Onboarding | Errors

In [0]:
-- Try running me!
SELECT 'DataCamp <3 SQL'
AS result;

## Onboarding | Bullet Exercises

In [0]:
SELECT 'SQL'
AS result;

In [0]:
SELECT 'SQL is'
AS result;

In [0]:
SELECT 'SQL is cool!'
AS result;

## Beginning your SQL journey

D. 4

## SELECTing single columns

In [0]:
SELECT title FROM films

In [0]:
SELECT release_year FROM films

In [0]:
SELECT name FROM people

## SELECTing multiple columns

In [0]:
SELECT title FROM films

In [0]:
SELECT title, release_year
FROM films;

In [0]:
SELECT title, release_year, country
FROM films;

In [0]:
SELECT *
FROM films;

## SELECT DISTINCT

In [0]:
SELECT DISTINCT country FROM films

In [0]:
SELECT DISTINCT certification FROM films

In [0]:
SELECT DISTINCT role FROM roles

## Learning to COUNT

C. 4,968

## Practice with COUNT

In [0]:
SELECT COUNT(*)
FROM people;

In [0]:
SELECT COUNT(birthdate)
FROM people;

In [0]:
SELECT COUNT(DISTINCT birthdate)
FROM people;

In [0]:
SELECT COUNT(DISTINCT language)
FROM films;

In [0]:
SELECT COUNT(DISTINCT country)
FROM films;