# Sorting and grouping

## ORDER BY

A. Alphabetically (A-Z)

## Sorting single columns

In [0]:
SELECT name
FROM people
ORDER BY name;

In [0]:
SELECT name
FROM people
ORDER BY birthdate;

In [0]:
SELECT birthdate, name
FROM people
ORDER BY birthdate;

## Sorting single columns (2)

In [0]:
SELECT title
FROM films
WHERE release_year = 2000 OR release_year = 2012
ORDER BY release_year;

In [0]:
SELECT *
FROM films
WHERE release_year <> 2015
ORDER BY duration;

In [0]:
SELECT title, gross
FROM films
WHERE title LIKE 'M%'
ORDER BY title;

## Sorting single columns (DESC)

In [0]:
SELECT imdb_score, film_id
FROM reviews
ORDER BY imdb_score DESC;

In [0]:
SELECT title
FROM films
ORDER BY title DESC;

In [0]:
SELECT title, duration
FROM films
ORDER BY duration DESC;

## Sorting multiple columns

In [0]:
SELECT birthdate, name
FROM people
ORDER BY birthdate, name;

In [0]:
SELECT release_year, duration, title
FROM films
ORDER BY release_year, duration;

In [0]:
SELECT certification, release_year, title
FROM films
ORDER BY certification, release_year;

In [0]:
SELECT name, birthdate
FROM people
ORDER BY name, birthdate;

## GROUP BY

D. Performing operations by group

## GROUP BY practice

In [0]:
SELECT release_year, COUNT(*)
FROM films
GROUP BY release_year;

In [0]:
SELECT release_year, AVG(duration)
FROM films
GROUP BY release_year;

In [0]:
SELECT release_year, MAX(budget)
FROM films
GROUP BY release_year;

In [0]:
SELECT imdb_score, COUNT(*)
FROM reviews
GROUP BY imdb_score;

## GROUP BY practice (2)

In [0]:
SELECT release_year, MIN(gross)
FROM films
GROUP BY release_year;

In [0]:
SELECT language, SUM(gross)
FROM films
GROUP BY language;

In [0]:
SELECT country, SUM(budget)
FROM films
GROUP BY country;

In [0]:
SELECT release_year, country, MAX(budget)
FROM films
GROUP BY release_year, country
ORDER BY release_year, country;

In [0]:
SELECT country, release_year, MIN(gross)
FROM films
GROUP BY country, release_year
ORDER BY country, release_year;

## HAVING a great time

B. 13

## All together now

In [0]:
SELECT release_year, budget, gross
FROM films;

In [0]:
SELECT release_year, budget, gross
FROM films
WHERE release_year > 1990;

In [0]:
SELECT release_year
FROM films
WHERE release_year > 1990
GROUP BY release_year;

In [0]:
SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
FROM films
WHERE release_year > 1990
GROUP BY release_year;

In [0]:
SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
FROM films
GROUP BY release_year
HAVING AVG(budget) > 60000000;

In [0]:
SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
FROM films
WHERE release_year > 1990
GROUP BY release_year
HAVING AVG(budget) > 60000000
ORDER BY avg_gross DESC;

## All together now (2)

In [0]:
-- select country, average budget, average gross
SELECT country, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
-- from the films table
FROM films
-- group by country 
GROUP BY country
-- where the country has more than 10 titles
HAVING COUNT(title) > 10
-- order by country
ORDER BY country
-- limit to only show 5 results
LIMIT 5;

## A taste of things to come

B. 8.4