# Loading Data in pandas

## Loading a DataFrame

In [0]:
# Import pandas under the alias pd
import pandas as pd

# Load the CSV "credit_records.csv"
credit_records = pd.read_csv('credit_records.csv')

# Display the first five rows of credit_records using the .head() method
print(credit_records.head())

## Inspecting a DataFrame

In [0]:
#Use .info() to inspect the DataFrame credit_records
print(credit_records.info())

B. 104

## Two methods for selecting columns

In [0]:
# Select the column item from credit_records
# Use brackets and string notation
items = credit_records['item']

# Display the results
print(items)

In [0]:
# Select the column item from credit_records
# Use dot notation
items = credit_records.item

# Display the results
print(items)

## Correcting column selection errors

In [0]:
# One or more lines of code contain errors.
# Fix the errors so that the code runs.

# Select the location column in credit_records
location = credit_records['location']

# Select the item column in credit_records
items = credit_records.item

# Display results
print(location)

## More column selection mistakes

In [0]:
# Use info() to inspect mpr
print(mpr.info())

In [0]:
# Use info() to inspect mpr
print(mpr.info())

# The following code contains one or more errors
# Correct the mistakes in the code so that it runs without errors

# Select column "Dog Name" from mpr
name = mpr['Dog Name']

# Select column "Missing?" from mpr
is_missing = mpr['Missing?']

# Display the columns
print(name)
print(is_missing)

C. If a column name contains a space, then it needs to be in brackets and string notation.

## Logical testing

In [0]:
# Is height_inches greater than 70 inches?
print(height_inches > 70)

In [0]:
# Is height_inches greater than 70 inches?
print(height_inches > 70)

# Is plate1 equal to "FRQ123"?
print(plate1 == "FRQ123")

In [0]:
# Is height_inches greater than 70 inches?
print(height_inches > 70)

# Is plate1 equal to "FRQ123"?
print(plate1 == "FRQ123")

# Is fur_color not equal to "brown"?
print(fur_color != "brown")

## Selecting missing puppies

In [0]:
# Select the dogs where Age is greater than 2
greater_than_2 = mpr[mpr.Age > 2]
print(greater_than_2)

# Select the dogs whose Status is equal to Still Missing
still_missing = mpr[mpr.Status == 'Still Missing']
print(still_missing)

# Select all dogs whose Dog Breed is not equal to Poodle
not_poodle = mpr[mpr['Dog Breed'] != 'Poodle']
print(not_poodle)

## Narrowing the list of suspects

In [0]:
# Select purchases from 'Pet Paradise'
purchase = credit_records[credit_records.location == 'Pet Paradise']

# Display
print(purchase)

C. Fred Frequentist and Gertrude Cox