# Text Preprocessing in Python: Steps, Tools, and Examples

Source: https://medium.com/@datamonsters/text-preprocessing-in-python-steps-tools-and-examples-bf025f872908

by Olga Davydova, Data Monsters

After we have the data, we start with text normalization. Which includes:
- Converting all letters to lower or upper case.
- Converting numbers into words or removing numbers.
- Removing punctuations, accent marks and other diacritics.
- Removing white spaces.
- Exapanding abbreviations.
- Removing stop words, sparse terms, and particular words.
- Text canonicalization.

## Convert text to lowercase

In [1]:
input_str = 'Hey Jude, dont make it bad. Take a sad song, Jude. Sekar tell me to shut up.'
print(input_str.lower())

hey jude, dont make it bad. take a sad song, jude. sekar tell me to shut up.

## Removing numbers

In [2]:
import re
input_str = "Box A contains 3 red balls and box B contains 4 blue balls"
print(re.sub(r'\d+', '', input_str))

Box A contains  red balls and box B contains  blue balls

## Removing Punctuations

In [10]:
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [6]:
input_str = "This &is [an] example? {of} string. with.? punctuation!!!!"

In [13]:
input_str.translate(str.maketrans('', '', string.punctuation))

'This is an example of string with punctuation'

## Remove whitespaces

In [14]:
input_str = " \t a string example\t "
input_str.strip()

'a string example'

## Tokenization